NODE_ENV=development
JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=1d

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_DB=auth_db
PRODUCT_DB=product_db
INVENTORY_DB=inventory_db
TRANSACTION_DB=transaction_db
REPORT_DB=report_db

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
REDIS_URL=redis://redis:6379
