NODE_ENV=production
JWT_SECRET=replace-with-a-long-random-production-secret-at-least-32-chars
JWT_EXPIRES_IN=1d

POSTGRES_USER=wms_prod
POSTGRES_PASSWORD=replace-with-strong-db-password

AUTH_DB=auth_db
PRODUCT_DB=product_db
INVENTORY_DB=inventory_db
TRANSACTION_DB=transaction_db
REPORT_DB=report_db

RABBITMQ_DEFAULT_USER=wms_rabbit
RABBITMQ_DEFAULT_PASS=replace-with-strong-rabbitmq-password
REDIS_URL=redis://redis:6379

NEXT_PUBLIC_API_URL=http://localhost:3000/api
FRONTEND_PORT=3006
RABBITMQ_MANAGEMENT_PORT=15672
