{
	email {$ACME_EMAIL}
}

{$PUBLIC_FRONTEND_HOST} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
		-Server
	}
	reverse_proxy frontend:3000
}

{$PUBLIC_API_HOST} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
		-Server
	}
	reverse_proxy api-gateway:3000
}
